/* ImageSlider.css */
.image-slider {
  width: 100%;
  max-width: 600px; /* Установите желаемую ширину свайпера */
  margin: 0 auto;
}

.slick-slider {
  position: relative;
}

.slick-slide {
  transition: transform 0.5s ease;
}

.slick-prev,
.slick-next {
  display: none; /* Скрыть кнопки prev/next (если не требуются) */
}
