footer {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #282828;
}

.copyrightText {
    text-align: center;
    color: #fafafa;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    margin-bottom: 10px;
}


@media screen and (min-width: 1200px) {

   .copyrightText {
        font-size: 20px;
   }
}

