.blogList {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.blogImage {
    border-radius: 10px 10px 0 0;
    max-height: 250px;
}

.blogDescriptionContainer{
    padding: 15px;
}

.blogCategoryText {
    display: block;
    width: 80px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: #f2f2f2;
    letter-spacing: 0.02em;
    font-size: 12px;
    text-align: center;
}

.blogTitle {
    font-size: 24px;
}

.blogInfoContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.blogInfoWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.blogInfoImage {
    width: 18px;
    height: 18px;
}

.blogInfoText{
    font-weight: 600;
    font-size: 15px;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    
    .blogList {
        justify-content: flex-end;
    }

    .blog {
        flex: 0 0 calc(70% - 10px); 
        margin: 0 5px;
    }

    .blog:nth-child(odd) {
        margin-right: auto;
    }
}


@media screen and (min-width: 1200px) {

    .blogList {
        margin-top: 40px;
        gap: 30px;
    }

    .blog {
        width: calc(33% - 17px);
    }

    .blogImage {
        height: 300px;
    }

    .blogTitle {
        font-size: 25px;
    }

    .blogInfoText {
        font-size: 17px;
    }
}