.todayDeals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

.todayDealsWrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.gallery {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    position: relative;
    transition: transform 500ms linear;
}

.galleryItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    min-width: calc(100% - 37px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #cbc9c9;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 10px;
}

.galleryImage {
    width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 5px;
}

.galleryDescriptionContainer {
    margin-top: 15px;
    position: relative;
}

.galleryName {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}

.galleryCount {
    color: #8a8a8a;
}

.galleryButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.galleryIcon {
    border-radius: 50%;
    padding-right: 4px;
    padding-bottom: 4px;
    background-color: #8bbb97;
}

.galleryButton:hover .galleryIcon,
.galleryButton:focus .galleryIcon {
    background-color: #75a280;
}

.heroButtonsContainer {
    display: none;
}

.heroMobileButtonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.heroPrevButton:disabled,
.heroNextButton:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.heroPrevButton:hover .heroPrevIcon {
    background-color: #878787;
}

.heroNextButton:hover .heroNextIcon {
    background-color: #75a280;
}

.heroPrevIcon,
.heroNextIcon {
    border-radius: 50%;
    padding-right: 6px;
    padding-bottom: 8px;
}

.heroPrevIcon {
    transform: rotate(225deg);
    background-color: #acacac;
}

.heroNextIcon {
    transform: rotate(45deg);
    background-color: #8bbb97;
}

.itemCategory {
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.itemRatingWrapper {
    margin-top: 3px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {

    .todayDeals {
        padding-bottom: 60px;
    }

    .titleContainer {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        margin-bottom: 20px;
    }

    .heroButtonsContainer {
        position: absolute;
        top: 70%;
        right: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .heroMobileButtonsContainer {
        display: none;
    }

    .galleryImage {
        max-height: 240px;
    }

    .galleryItem {
        position: relative;
        min-width: calc(50% - 40px);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        border: 1px solid #cbc9c9;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
    }

    .itemCategory {
        font-size: 15px;
    }

    .itemRatingWrapper {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {

    .titleContainer {
        margin-bottom: 0;
    }

    .heroButtonsContainer {
        top: 60%;
    }

    .todayDeals{
        gap: 30px;
    }

    .galleryItem {
        min-width: calc(33% - 33px);
        padding: 20px 10px;
    }

    .galleryImage {
        max-height: 300px;
    }
}

@media screen and (min-width: 1920px) {

    .galleryItem {
        min-width: calc(25% - 50px);
        gap: 10px;
    }

    .heroButtonsContainer {
        display: none;
    }
}